body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  font-size: medium;
}

h1 {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h2 {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h3 {
  color: #22863A;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-weight: 800;
}

h4 {
  color: #6F42C1;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 2px;
}

h5 {
  color: #005FCC;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-inline-start: 4px;
  font-size: medium;
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 30px;
}

hr {
  margin-block-start: 3em;
  margin-block-end: 3em;
}

.navbar {
  display: flex;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  position: relative;
}

.navbar a:hover ,
.dropdown .dropbtn:hover,
.dropdown .dropbtn:focus,
.dropdown .dropbtn:active {
  background-color: #ddd;
  color: black;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 16px 16px;
  background-color: #333;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1100;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  display: flex;
  height: 100%;
}

.main-content,
.aside {
  box-sizing: border-box;
}

.main-content {
  flex: 3;
  transition: flex 0.3s ease;
  overflow-y: auto;
  margin-top: 50px; /* navbar 높이 */
  /* margin-bottom: 31px; footer 높이 */
}

.aside {
  width: 380px;
  display: block;
  transition: flex 0.3s ease;
  position: sticky; 
  background-color: #f1f1f1;
  padding: 5px;
  overflow-y: auto;
  right: 0;
  z-index: 1;
  margin-top: 50px; /* navbar 높이 */
  /* margin-bottom: 31px; footer 높이 */
  /* max-height: calc(100vh - 76px); navbar, footer 높이 고려 */
}

aside.hidden {
  display: none;
}

/* width 가 800px 이하일 때 */
@media (max-width: 800px) {
  .aside {
    display: none;
  }
  .main-content {
    flex: 1;
  }
  #toggleTocButton {
    display: none;
  }
}

.aside span {
  font-weight: 600;
  margin-left: 10px;
  font-size: large;
}

.content {
  flex: 1;
  padding-left: 10px;
  padding-bottom: 60px;
  overflow-y: auto;
}

.highlight {
  border-left: 3px solid #ccc;
  margin-right: 10px;
  font-size: medium;
}

code {
  color: inherit;
  padding: 0.2em 0.4em;
  margin: 0;
  word-break: normal;
  background-color: rgba(0,0,0,10%);
  border-radius: 0.375rem;
  font-weight: 500;
  font-family: 'Lucida Sans';
  font-size: small;
}

pre code {
  padding: 0;
}

/* Prism code block font size override */
pre[class*="language-"] code {
  font-size: small;
}

#TableOfContents {
  margin: 0px;
}

#TableOfContents a {
  text-decoration: none;
  font-size: small;
  color: rgb(18, 18, 18);
}

#TableOfContents ul {
  list-style: none;
  padding: 3px;
  margin: 3px;
}

#TableOfContents li > a {
  display: block;
  padding: 2px 4px;

  width: fit-content
}

#TableOfContents li > a:hover {
  background-color: rgb(130, 130, 130);
}

#TableOfContents > ul > li > a {
  font-weight: 800;
  font-size: medium;
}
#TableOfContents > ul > li > ul > li > a {
  font-weight: 800;
  font-size: small;
}
#TableOfContents > ul > li > ul > li > ul > li > a {
  font-weight: 500;
  font-size: small;
}


.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 6px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  padding-right: 10px;
  border: 1px solid #ccc;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border: 1px solid #ccc;
}

th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #c0c0c0;
  color: white;
}

td, th {
  text-align: left;
  padding: 8px;
}

details {
  margin: 12px;
}
summary {
  color: #B8860B;
  font-weight: 500;

  margin-block-end: 0.5em;
  cursor: pointer;
  
  display: list-item;
  width: fit-content;
  list-style-position: inside;
}

/* code-compare */
.code-compare {
  display: flex;
  gap: 16px;
  margin: 1.5rem 0;
}

.code-col {
  flex: 1;
}

.code-title {
  font-weight: 600;
  margin-bottom: 6px;
}
.code-title.bad {
  color: #d1242f;
}
.code-title.good {
  color: #2da44e;
}

.code-col pre {
  margin: 0;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
}

.code-col.good pre {
  border-left: 4px solid #2da44e;
}

.code-col.bad pre {
  border-left: 4px solid #d1242f;
}

@media (max-width: 768px) {
  .code-compare {
    flex-direction: column;
  }
}
/* -- code-compare */
